.left{
    float: left;
    border: 10px;
    border-color: chocolate;
}
.right{
    float: right;
    width: auto;
    border: 10px;
    border-radius: 8px;
    border-color: black;

}
.knowDiv{
    border: 10px;
    border-color:black;
}