.left{
    float: left;
    border: 1px;
    border-color: chocolate;
}
.right{
    float: right;
    width: auto;
    border: 1px;
    border-radius: 2rem;
    border-color: bisque

}
.knowDiv{
    border: 1rem;
    border-color: bisque
}